POSTGRES_USER=admin
POSTGRES_PASSWORD=suaSenhaSuperSecreta
POSTGRES_DB=gerenciamento_db
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://postgres-db:5432/gerenciamento_db
JWT_SECRET_KEY=suaChaveSecretaSuperLongaComPeloMenos256BitsParaHS256
JWT_EXPIRATION=86400000
APP_PORT=8080
